hw3
llisttest
stringparser
test
stackstring
output.txt
stackstring.o
lliststring.o

(34 + 12)
hello
((((((<><there + <is + too>< + ((this - is + (wow+hello+dang)))))))))
(wow + cool)-
+(this)
<><<(this)
<><(wow)----++
(<who)
(wow><)
(hello-there)
(wow + hold - on)
(th)
(this+ ><isdope)
(holy<moley)
((<<dagobah - (dago)) + examp-le)
(abc + (abc) + abc)+s
a(aaaaaaaaaaa+++++++<<<<<----------)
(((aaa + b +c+d ) - (b + c)) - a)
(hello+-)
(a><+- e)